@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --border-default: #cbd5e1; /* slate-300 */
  --border-muted: #e2e8f0; /* slate-200 */
}

@theme {
  --color-border: #cbd5e1;
  --breakpoint-xs: 30rem;
}

@layer base {
  * {
    border-color: var(--border-default);
  }
}

@import '../lib/tokens/index.css';

button {
  @apply cursor-pointer;
}
